#d3Vis {
    margin: auto;
}

#dropDownDiv {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;

}

svg {
  border:1px solid gray;
  border-radius:10px;
  height:70vh;
  width:60vw;
  margin:5px;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8; }